<md-toolbar color="primary">
  <div class="toolbar-content">
    <span>{{title}}</span>
    <div>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>settings</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item *ngIf="layoutService.isListView()" (click)="layoutService.switchToGrid()">
          <md-icon>view_comfy</md-icon>
          <span>Grid</span>
       </button>
        <button md-menu-item *ngIf="layoutService.isGridView()" (click)="layoutService.switchToList()">
          <md-icon>dehaze</md-icon>
          <span>List</span>
        </button>
        <button md-menu-item (click)="openFilters()">
          <md-icon>filter_list</md-icon>
          <span>Filter</span>
        </button>
      </md-menu>
    </div>
  </div>
</md-toolbar>

<app-photo-list [photos]="photosService.photo$ | async" (fetchNextPhotos)="fetchNextPhotos()"></app-photo-list>
