.card-container {
    width: calc(25% - 20px);
    padding: 10px;
    min-width: 200px;
    display: flex;
}

.mat-card {
    width:100%;
}

.card-container img {
    width: 100%;
}

@media(max-width: 600px) {
    .card-container {
        width: 100%;
    }
}

.photos-grid {
    display: flex;
    flex-wrap: wrap;
}

.fetch-button-wrapper {
    display: flex;
    justify-content: center;
}

.fetch-button {
    width: 200px;
}

app-photo-card {
    width:100%;
}